@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono|Roboto:300);

* {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

main .container {
    margin-top: 60px;
    margin-bottom: 40px;
}

.center {
    text-align: center;
}

pre, pre *, kbd, kbd * {
    font-family: "Ubuntu Mono", monospace !important;
}

.hljs {
    background: transparent !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 15px;
    line-height: 17px;
}

#navbar, #navbar ul {
    margin: 0 auto;
    text-align: center;
}

nav .nav a {
    padding-bottom: 10px !important;
}

nav .nav li {
    border-bottom: 5px solid transparent;
    min-height: 45px !important;
}

nav .nav li:hover {
    border-bottom: 5px solid #0269C2;
}

@media (min-width: 768px) {
    nav.navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    nav.navbar .navbar-collapse {
        text-align: center;
    }
}

.version.major {
    width: 100px;
    font-size: 30px;
    line-height: 30px;
    padding: 35px 0;
    border-radius: 150px;
    background: #3f7b83;
    color: white;
}

.version.minor, .circle {
    width: 70px;
    font-size: 20px;
    line-height: 20px;
    padding: 25px 0;
    border-radius: 150px;
    background: #6185ae;
    color: white;
}

.version, .circle {
    margin-top: 50px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.circle {
    padding: 15px 0;
    font-size: 40px;
    line-height: 40px;
    margin-top: 30px;
}

.examples .circle {
    background: #676aa8;
}

.limitations .circle {
    background: #804686;
}

.features .circle {
    background: #468662;
}

.changes {
    font-size: 13px;
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
}

.changes li {
    list-style-type: none;
    margin-bottom: 7px;
}

kbd {
    background: transparent;
    color: inherit;
    margin: 0;
    padding: 0;
    font-size: 110%;
    box-shadow: none;
}

.divider {
    height: 1px;
    width: 100%;
    background: linear-gradient(to right, white 20%, #CCC, white 80%);
}

h3 {
    font-size: 20px;
}

.api-entry p.api-signature {
    margin-top: 20px;
}

.api-entry p.api-signature:first-child {
    margin-top: 40px;
}

.api-entry p {
    margin-top: 15px;
}

pre, code  {
    text-align: left;
}

.small-font * {
    font-size: 14px !important;
    line-height: 15px;
}

.examples .nav ul {
    text-align: center;
}

.examples .nav li {
    display: inline-block;
    float: none;
}

.panel pre {
    border: 0;
    background: white;
}

.hljs a * {
    color: #337ab7 !important;
}

.hljs a:hover * {
    color: #23527c !important;
}

.example {
    margin-top: 30px;
}
