name: Tests
on: [push, pull_request, workflow_dispatch]
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php-versions:
        - '7.1'
        - '7.2'
        - '7.3'
        - '7.4'
        - '8.0'
        - '8.1'
        - '8.2'
        - '8.3'
        - '8.4'
        - '8.5'
        - '8.6'
    name: "PHP: ${{ matrix.php-versions }}"

    continue-on-error: ${{ matrix.php-versions == '8.6' }}

    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php-versions }}
        extensions: mbstring
        ini-values: zend.assertions=1, error_reporting=-1, display_errors=On, display_startup_errors=On, log_errors_max_len=0
        coverage: none

    # Install dependencies and handle caching in one go.
    # @link https://github.com/marketplace/actions/install-php-dependencies-with-composer
    - name: Install Composer dependencies
      uses: "ramsey/composer-install@v3"
      with:
        # For PHP "nightly", we need to install with ignore platform reqs as not all dependencies may allow it yet.
        composer-options: ${{ matrix.php == '8.6' && '--ignore-platform-req=php+' || '' }}
        # Bust the cache at least once a month - output format: YYYY-MM.
        custom-cache-suffix: $(date -u "+%Y-%m")

    - name: Run tests
      run: vendor/bin/phpunit tests
